@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

nav{
    box-shadow: 0 3px 10px 0px #0000001A;
    height: 70px;
    display: flex;
    padding: 20px 36px;
}

.nav--logo{
    max-width: 100px;
}

.hero{
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.hero img{
    max-width: 400px;
    align-self: center;
}

.hero > h1{
    margin-top: 32px;
    margin-bottom: 0;
    font-size: 36px;
    font-weight: 600;
}

.hero > p{
    margin-top: 16px;
    max-width: 320px;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 0px;

}

.card{
    padding: 10px 30px;
    position: absolute;
}

.activity--status{
    position: relative;
    top: 30px;
    left:15px;
    background: #FFFFFF;
    width: 60px;
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 11px;
    border-radius: 2px;

}

.card--photo{
    border-radius: 9px;
}

.note--info{
    margin-top: 0px;
    display: flex;
    align-items: center;
}

.note--info span{
    font-size: 12px;
    color: #918E9B;
}

.note--info .average--note{
    color: #222222;
}

.star--photo{
    width: 14px;
}

.activity--title{
    margin-top: 8px;
    font-size: 12px;
    line-height: 13px;
    font-weight: 300;
    color : #222222;
}

.activity--price{
    margin-top: 8px;
    font-size: 12px;
}