@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

nav{
    box-shadow: 0 3px 10px 0px #0000001A;
    height: 70px;
    display: flex;
    padding: 20px 36px;
}

.nav--logo{
    max-width: 100px;
}

.hero{
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.hero img{
    max-width: 400px;
    align-self: center;
}

.hero > h1{
    margin-top: 32px;
    margin-bottom: 0;
    font-size: 36px;
    font-weight: 600;
}

.hero > p{
    margin-top: 16px;
    max-width: 320px;
    font-size: 16px;
    font-weight: 300;
}